boto3==1.35.93
boto3-stubs==1.40.50
fastapi==0.115.6
fastapi-cli==0.0.7
mangum==0.19.0
mypy-boto3-apigateway==1.40.0
mypy-boto3-cloudformation==1.40.44
mypy-boto3-ecr==1.40.0
mypy-boto3-iam==1.40.0
mypy-boto3-kinesis==1.40.0
mypy-boto3-lambda==1.40.50
mypy-boto3-s3==1.40.26
mypy-boto3-schemas==1.40.19
mypy-boto3-secretsmanager==1.40.0
mypy-boto3-signer==1.40.18
mypy-boto3-sqs==1.40.35
mypy-boto3-stepfunctions==1.40.0
mypy-boto3-sts==1.40.0
mypy-boto3-xray==1.40.21
passlib[bcrypt]==1.7.4
bcrypt==4.2.0
pydantic==2.10.3
pydantic-extra-types==2.10.1
pydantic-settings==2.7.0
pydantic_core==2.27.1
PyMySQL==1.1.1
python-jose==3.3.0
python-multipart==0.0.17
SQLAlchemy==2.0.35
PyJWT==2.9.0